<img  class="modal__image" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{poster_path}}"
    srcset="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{poster_path}} 1x, https://www.themoviedb.org/t/p/w1280{{poster_path}} 2x">
<div class="modal__wrapper">
    <h2 class="modal__title">{{title}}</h2>
    <ul class="modal-list">
        <li class="modal-list__item">
            <p class="modal-list__text">Vote / Votes</p>
            <div>
                <span class="modal-list__span modal-list__rating">{{vote_average}}</span>
                <span class="modal-list__span modal-list__divider"> / </span>
                <span class="modal-list__span modal-list__count">{{vote_count}}</span>
            </div>
        </li>
        <li class="modal-list__item">
            <p class="modal-list__text">Popularity</p>
            <span class="modal-list__span">{{popularity}}</span>
        </li>
        <li class="modal-list__item">
            <p class="modal-list__text">Original Title</p>
            <span class="modal-list__span">{{original_title}}</span>
        </li>
        <li class="modal-list__item">
            <p class="modal-list__text">Genre</p>{{#each genres}}
            <span class="modal-list__span">{{this}}</span>
            {{/each}}
        </li>
    </ul>
    <h3 class="modal__about-title">About</h3>
    <p class="modal__about-text">{{overview}}</p>
    <div class="modal__buttons-wrapper">
        <button class="modal__button modal__button-watched" type="button">Add to watched</button>
        <button class="modal__button" type="button">Add to queue</button>
    </div>
</div>