
  {{#each this}}
    <li class='gallery_card' data-id='{{id}}'>
      {{#if poster_path}}
        <img
          class='gallery_img'
          src='https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{poster_path}}'
          alt='{{title}}'
          width='280'
          height='400'
        />
      {{else}}
        <img
          src='https://ya1.fastfilm.net/images/poster_none.png'
          alt='image'
          class='card-picture'
        />
      {{/if}}

      <h2 class='gallery_title'>{{original_title}}</h2>
      <div class='label'>
        <span class='gallery_label'>{{genre_ids}}</span>
        |
        <span class='gallery_label'>{{release_date}}</span>
      </div>
    </li>
  {{/each}}
