{{#each this}}
<div class="image-slider__slide swiper-slide" data-action='{{id}}'>
  <div class="btn-id">
    <button data-id='{{id}}' class="btn-youtube-slider">
      <div class="overlay-btn" data-id='{{id}}'>
        <h2 class="btn-text-slider" data-id='{{id}}'>Trailer</h2>
      </div>
    </button>
  </div>

  <div class="image-slider__image">
    <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}} {{name}}" data-id="{{id}}"
    />
    <span class="rating-slider">{{vote_average}}</span>
  </div>
</div>
{{/each}}