{{#each this}}
<div class="image-slider__slide swiper-slide" data-id="{{id}}">
  <div class="image-slider__image">
<img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{poster_path}}" alt="{{title}} {{name}}"
 data-id="{{id}}"/>
 <span class="rating-slider">{{vote_average}}</span>
  </div>
</div>
{{/each}}